@import '~bootstrap/scss/bootstrap';

header{
    background-color:#302636;
}

body{
    background-color: #1F1D29;
}

.card img {
    width: 100%;    
    max-width: 300px;
    height: 200px;              
    object-fit: cover;         
}